[Unit]
Description=Run Netking IPAM SQLite Backup Daily

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true
Unit=netking-ipam-backup.service

[Install]
WantedBy=timers.target

